body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(50, 54, 59), rgb(0, 0, 0));
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

input[type="submit"] {
    width: auto;
    background-color: #2a7ae2;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1c5d99;
}

/* ... existing styles ... */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
h1{
    animation: fade 1s ease-in 1s;

}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
